body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f60;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol li {
    margin-bottom: 20px;
}

ol li a {
    text-decoration: none;
    color: #333;
}

ol li p {
    margin: 5px 0;
    color: #666;
}
